In [1]:
import csv
import time
import random
import requests
from lxml import etree
import pandas as pd
import numpy as np

In [2]:
city = pd.read_csv('city_links.csv')
table = city.head()
display(table)

                 url        name
0           /phoenix     Phoenix
1  /scottsdale-az-us  Scottsdale
2       /tempe-az-us       Tempe
3      /tucson-az-us      Tucson
4     /alameda-ca-us     Alameda

In [3]:
city.shape

(157, 2)

# all restaurants

new_save_obj = {
    'city': [],
    'title': [],
    'rank': [],
    'point': [],
    'tag': [],
    'link': [],
    'review': [],
}

In [ ]:
with open('city_links.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        city_url = row[0].replace('/', '').replace('-', ',').title()
        print(city_url)

        for i in range(0, 1000):
            url = f'https://www.yelp.com/search?cflt=restaurants&find_loc={city_url}&start={i*10}'
            print(url)

            headers = {
                'Cookie': 'bse=aaf54a8504e5459ca9054b9b9f4710a5; hl=en_US; wdi=2|D2EB2C37FE7743B2|0x1.93bd4df9d0fdp+30|620d088025fbf980; g_state={"i_p":1694152357210,"i_l":3}; recentlocations=Napa%2C+CA%2C+US%3B%3BNapa%2C+CA%3B%3BScottsdale%2C+AZ%2C+US%3B%3Bscottsdale-az-us%3B%3BScottsdale%2C+AZ%3B%3BPhoenix%3B%3BPhoenix%2C%3B%3BPhoenix%2C+AZ; location=%7B%22parent_id%22%3A+45%2C+%22address2%22%3A+%22%22%2C+%22longitude%22%3A+-111.92734753081055%2C+%22unformatted%22%3A+%22Scottsdale%2CAz%2CUs%22%2C+%22country%22%3A+%22US%22%2C+%22state%22%3A+%22AZ%22%2C+%22min_longitude%22%3A+-111.96138300000001%2C+%22county%22%3A+%22Maricopa+County%22%2C+%22city%22%3A+%22Scottsdale%22%2C+%22zip%22%3A+%22%22%2C+%22max_longitude%22%3A+-111.78791197617181%2C+%22accuracy%22%3A+4%2C+%22address1%22%3A+%22%22%2C+%22provenance%22%3A+%22YELP_GEOCODING_ENGINE%22%2C+%22display%22%3A+%22Scottsdale%2C+AZ%22%2C+%22location_type%22%3A+%22locality%22%2C+%22max_latitude%22%3A+33.85662465458778%2C+%22latitude%22%3A+33.499404636990256%2C+%22min_latitude%22%3A+33.45888641584279%2C+%22place_id%22%3A+%221356%22%2C+%22address3%22%3A+%22%22%2C+%22borough%22%3A+%22%22%2C+%22isGoogleHood%22%3A+false%2C+%22language%22%3A+null%2C+%22neighborhood%22%3A+%22%22%2C+%22polygons%22%3A+null%2C+%22usingDefaultZip%22%3A+false%2C+%22confident%22%3A+null%7D; uuac=jtodetbQyzuhlENNTvh6ld1FwqP6O_njNJ916PV9xdc; xcj=1|LR1m4NN489ePVwxYRdE6k7vAMkOHh_Hvr4HEdZLeH-Y; bsi=1%7C77f9fac6-e60b-4ef2-a19f-d2f6b594c040%7C1693617740192%7C1693617737929; OptanonConsent=isGpcEnabled=0&datestamp=Sat+Sep+02+2023+09%3A22%3A22+GMT%2B0800+(China+Standard+Time)&version=202304.1.0&browserGpcFlag=0&isIABGlobal=false&hosts=&consentId=afe311b8-5df9-43aa-b8d6-20ac10139aee&interactionCount=1&landingPath=https%3A%2F%2Fwww.yelp.com%2Fsearch%3Ffind_desc%3DRestaurants%26find_loc%3DPhoenix%26start%3D10&groups=BG82%3A1%2CC0003%3A1%2CC0002%3A1%2CC0001%3A1%2CC0004%3A1',
                'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36 Edg/116.0.1938.62'
            }
            r = requests.get(url=url, headers=headers)
            tree = etree.HTML(r.text)
            al = tree.xpath('//li[@class="  border-color--default__09f24__NPAKY"]')
            print(len(al))

            if len(al) < 1:
                # print(r.text)
                # time.sleep(200)
                # r = requests.get(url=url, headers=headers)
                # tree = etree.HTML(r.text)
                # al = tree.xpath('//li[@class="  border-color--default__09f24__NPAKY"]')
                # print(len(al))
                # if len(al) < 1:
                print('下一餐厅')
                break
            for a in al:
                try:
                    title = a.xpath('.//h3[@class="css-1agk4wl"]/span[@class=" css-1egxyvc"]/a[@class="css-19v1rkv"]/text()')[0].strip()
                except:
                    title = ''
                try:
                    point = a.xpath('.//span[@class=" css-gutk1c"]/text()')[0].strip()
                except:
                    point = ''
                try:
                    tag = a.xpath('.//span[@class="css-11bijt4"]/text()')
                except:
                    tag = []
                try:
                    link = a.xpath('.//h3[@class="css-1agk4wl"]/span[@class=" css-1egxyvc"]/a[@class="css-19v1rkv"]/@href')[0].strip()
                except:
                    link = ''
                try:
                    review = a.xpath('.//span[@class="css-8xcil9"]/text()')[0].strip()
                except:
                    review = ''
                try:
                    rank = a.xpath('.//h3[@class="css-1agk4wl"]/span[@class=" css-1egxyvc"]/text()')[0].strip()
                except:
                    rank = ''
                if rank != '':
                    new_save_obj['city'].append(row[1])
                    new_save_obj['title'].append(title)
                    new_save_obj['point'].append(point)
                    new_save_obj['tag'].append(tag)
                    new_save_obj['link'].append(link)
                    new_save_obj['review'].append(review)
                    new_save_obj['rank'].append(rank)
                    print(rank, title, point, tag, review, 'https://www.yelp.com' + link)

            time.sleep(5)

            df = pd.DataFrame(new_save_obj)
            df.to_csv('没有抽样的餐厅.csv', index=False)

In [2]:
all_restaurant = pd.read_csv('没有抽样的餐厅.csv')

In [3]:
all_restaurant.shape

(35448, 7)

In [4]:
table = all_restaurant.head()
display(table)

,city,title,rank,point,tag,link,review
0,Phoenix,Aftermath,1,4.5,"['American (New)', 'Cocktail Bars', 'Burgers']",/biz/aftermath-phoenix-6,(238 reviews)
1,Phoenix,Oak,2,3.8,['American (New)'],/biz/oak-phoenix-3,(2.1k reviews)
2,Phoenix,Neighborly Public House,3,4.3,['American (New)'],/biz/neighborly-public-house-phoenix,(172 reviews)
3,Phoenix,Windsor,4,4.3,"['American (New)', 'Breakfast & Brunch', 'Cock...",/biz/windsor-phoenix,(1.7k reviews)
4,Phoenix,Pubblico Italian Eatery,5,4.4,"['Italian', 'Bars', 'Pizza']",/biz/pubblico-italian-eatery-phoenix-3,(526 reviews)

# 变量category删除

In [5]:
all_restaurant.drop(columns=['tag'], inplace=True)

all_restaurant['tag'] = all_restaurant['tag'].apply(eval)

all_restaurant[['category1', 'category2', 'category3', 'category4']] = all_restaurant['tag'].apply(pd.Series)

all_restaurant.drop(columns=['tag'], inplace=True)

table = all_restaurant.head()
display(table)

categories = ['category1', 'category2', 'category3', 'category4']
for category in categories:
    all_restaurant['competition_' + category] = all_restaurant.groupby(['city', category])['title'].transform('count')

all_restaurant['competition'] = all_restaurant[['competition_' + category for category in categories]].sum(axis=1)

all_restaurant.drop(columns=['category1', 'category2', 'category3', 'category4','competition_category1','competition_category2','competition_category3','competition_category4'], inplace=True)

# rank ~ number of restaurant

In [ ]:
all_restaurant['city_restaurant_no'] = all_restaurant.groupby('city')['rank'].transform('count')

all_restaurant.drop(columns=['rank'], inplace=True)

# competition_rate

all_restaurant['competition_rate'] = all_restaurant['competition'] / all_restaurant['city_restaurant_no']

# chain

all_restaurant['chain'] = all_restaurant['title'].duplicated(keep=False).astype(int)

table = all_restaurant.head(10)
display(table)

# 전처리 review

In [7]:
all_restaurant['review'] = all_restaurant['review'].str.replace(r'\(|\)', '', regex=True)
all_restaurant['review'] = all_restaurant['review'].str.rsplit(' ', n=1).str[0]
all_restaurant['review_n'] = pd.to_numeric(all_restaurant['review'], errors='coerce')
all_restaurant['review_k'] = all_restaurant['review'].where(all_restaurant['review'].str.contains('k'), None)
all_restaurant['review_k']= all_restaurant['review_k'].str.replace('k', '').astype(float) * 1000
all_restaurant['review_n'].fillna(all_restaurant['review_k'], inplace=True)
all_restaurant.drop(columns=['review_k','review'], inplace=True)

# 전처리'title'

In [8]:
import re
import html

def remove_non_ascii(text):
    # 先解码 HTML 实体编码，然后再去除非 ASCII 字符
    text = html.unescape(str(text))
    return re.sub(r'[^\x00-\x7F]+', '', text)

# 在应用函数之前，确保 'text' 列中的所有值都是字符串
all_restaurant['title'] = all_restaurant['title'].apply(remove_non_ascii)

In [11]:
table = all_restaurant.head()
display(table)

,city,title,rank,point,link,review_n
0,Phoenix,Aftermath,1,4.5,/biz/aftermath-phoenix-6,238.0
1,Phoenix,Oak,2,3.8,/biz/oak-phoenix-3,2100.0
2,Phoenix,Neighborly Public House,3,4.3,/biz/neighborly-public-house-phoenix,172.0
3,Phoenix,Windsor,4,4.3,/biz/windsor-phoenix,1700.0
4,Phoenix,Pubblico Italian Eatery,5,4.4,/biz/pubblico-italian-eatery-phoenix-3,526.0

In [12]:
description = all_restaurant.describe()
display(description)

               rank         point      review_n
count  35448.000000  35261.000000  34984.000000
mean     118.300891      4.166226    495.730191
std       69.321271      0.458955    820.172253
min        1.000000      1.000000      1.000000
25%       58.000000      3.900000     66.000000
50%      117.000000      4.200000    223.000000
75%      178.000000      4.500000    574.000000
max      240.000000      5.000000  18400.000000

# 筛选出餐厅数为240的餐厅

In [9]:
sample1_restaurant = all_restaurant[all_restaurant['city_restaurant_no'] == 240]

In [10]:
sample1_restaurant.shape

(29520, 7)

# sample city

In [11]:
import pandas as pd
import random

# 假设您的数据集是一个名为'df'的pandas DataFrame，包含'city'和'title'列
# 获取所有唯一的城市名称
unique_cities = sample1_restaurant['city'].unique()

# 随机选择50个城市
random.seed(42)
selected_cities = random.sample(list(unique_cities), 50)

# 使用选择的城市名称来过滤数据集
filtered_df = sample1_restaurant[sample1_restaurant['city'].isin(selected_cities)]

In [12]:
filtered_df.shape

(12000, 7)

# sample restaurant

In [13]:
filtered_df['rank_review'] = filtered_df.groupby('city')['review_n'].rank(method='first', ascending=False)

C:\Users\10047\AppData\Local\Temp\ipykernel_688\36937603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['rank_review'] = filtered_df.groupby('city')['review_n'].rank(method='first', ascending=False)

In [14]:
table = filtered_df.head()
display(table)

,city,title,rank,point,link,city_restaurant_no,review_n,rank_review
0,Phoenix,Aftermath,1,4.5,/biz/aftermath-phoenix-6,240,238.0,136.0
1,Phoenix,Oak,2,3.8,/biz/oak-phoenix-3,240,2100.0,13.0
2,Phoenix,Neighborly Public House,3,4.3,/biz/neighborly-public-house-phoenix,240,172.0,158.0
3,Phoenix,Windsor,4,4.3,/biz/windsor-phoenix,240,1700.0,22.0
4,Phoenix,Pubblico Italian Eatery,5,4.4,/biz/pubblico-italian-eatery-phoenix-3,240,526.0,95.0

In [16]:
filtered_df['rank_review'].value_counts()

136.0    50
199.0    50
58.0     50
210.0    50
218.0    50
         ..
236.0    39
237.0    33
238.0    27
239.0    17
240.0     4
Name: rank_review, Length: 240, dtype: int64

In [17]:
description = filtered_df.describe()
display(description)

,rank,point,city_restaurant_no,review_n,rank_review
count,12000.000000,11940.000000,12000.0,11835.000000,11835.000000
mean,120.500000,4.151935,240.0,483.190706,118.869793
std,69.284318,0.458953,0.0,827.838525,68.365522
min,1.000000,1.000000,240.0,1.000000,1.000000
25%,60.750000,3.900000,240.0,64.000000,60.000000
50%,120.500000,4.200000,240.0,216.000000,119.000000
75%,180.250000,4.400000,240.0,555.000000,178.000000
max,240.000000,5.000000,240.0,18400.000000,240.000000

In [18]:
# 假设filtered_df包含了50个城市的数据，每个城市有240个餐厅的信息，
# 并且已经按照'city'分组，每个城市内的餐厅已经根据'review_n'排好序，并有'rank'列

# 创建一个空的DataFrame，用于存储抽样结果
sampled_restaurants = pd.DataFrame(columns=filtered_df.columns)

# 遍历每个城市
for city, group in filtered_df.groupby('city'):
    # 遍历每个组
    for i in range(5):
        # 计算每个组的起始和结束rank
        start_rank = i * 48 + 1
        end_rank = (i + 1) * 48
        
        # 对于最后一组，确保不超过餐厅总数
        if i == 4:
            end_rank = group.shape[0]
        
        # 获取当前组的餐厅
        current_group = group[(group['rank_review'] >= start_rank) & (group['rank_review'] <= end_rank)]
        
        # 计算要抽取的餐厅数量
        num_samples = 5 - i  # 第一组抽取5个，第二组抽取4个，以此类推
        
        # 随机抽取餐厅
        sampled_group = current_group.sample(n=num_samples, random_state=2613)  # 使用random_state以确保可复现性
        
        # 将抽样结果添加到sampled_restaurants中
        sampled_restaurants = pd.concat([sampled_restaurants, sampled_group])

# sampled_restaurants中包含了按照您的要求抽样的餐厅数据

In [19]:
sampled_restaurants.shape

(750, 8)

In [20]:
sampled_restaurants['rank_review'].value_counts()

125.0    10
44.0      9
23.0      9
27.0      9
31.0      9
         ..
147.0     1
235.0     1
142.0     1
128.0     1
237.0     1
Name: rank_review, Length: 210, dtype: int64

In [26]:
sampled_restaurants.drop(columns=['city_restaurant_no'], inplace=True)

In [27]:
table = sampled_restaurants.head()
display(table)

,city,title,rank,point,link,review_n,rank_review
1195,Alameda,Jong Ga House,236,4.0,/biz/jong-ga-house-oakland,2300.0,8.0
1110,Alameda,Brendas Oakland,151,3.9,/biz/brendas-oakland-oakland,1000.0,33.0
1160,Alameda,Homeroom,201,4.1,/biz/homeroom-oakland,6500.0,1.0
995,Alameda,Yojimbo,36,3.9,/biz/yojimbo-alameda,1700.0,14.0
1142,Alameda,Quinns Lighthouse,183,3.5,/biz/quinns-lighthouse-oakland,1000.0,34.0

In [28]:
description = sampled_restaurants.describe()
display(description)

            point      review_n  rank_review
count  750.000000    750.000000   750.000000
mean     4.005333    717.205333    88.748000
std      0.497281   1212.276010    60.862815
min      1.000000      1.000000     1.000000
25%      3.800000    158.250000    37.000000
50%      4.100000    388.000000    80.000000
75%      4.300000    836.750000   131.000000
max      5.000000  18400.000000   239.000000

In [29]:
sampled_restaurants.to_csv('sampled_restaurants.csv', index=False)